<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Website short description." />
<meta name="keywords" content="website main keywords" />
	<title>Krypteau</title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="container">
    <div id="header"><h1>Krypteau</h1></div>
    <div id="sub_header">... encryption made easy</div>
    <div id="main_content_top"></div>
      <div id="main_content">
        <div class="content">  
          <%= catch_content :for_layout %>
        </div>
        <div class="menu">
		  <div class="menu_title">Main menu</div>
          <ul>
			<li><a href="/krypteaukeys" class="menu_link">Key Management</a></li>
			<li><a href="/strings" class="menu_link">Strings</a></li>
			<li><a href="/files" class="menu_link">Files</a></li>
			<li><a href="/databases" class="menu_link">Databases</a></li>
		  </ul>
		  <div class="menu_title">Sub menu</div>
		  <ul>
		    <li><a href="http://www.pikanai.com" class="menu_link">Pikanai</a></li>
		  </ul>
		  <div class="menu_title">Friends</div>
		  <ul>
    		<li><a href="http://www.oswd.org" class="menu_link">OSWD</a></li>
			<li><a href="http://www.opendesigns.org" class="menu_link">Open Designs</a></li>
		  </ul>
	    </div>
		<div id="clear"></div>
      </div>

    <div id="main_content_bottom">
    </div>

    <div id="footer"><strong>Copyright &copy; 2007</strong> | <a href="#">Krypteau</a> | <b>Design by</b> <a href="http://www.pikanai.com">Pikanai.com</a>
	</div>

</div>

</body>
</html>